html, body {
    height: 100%;
    overflow: hidden;
}

.map-full-area {
    position: absolute;
    top: 0;
    height: calc(100% - 500px);
    width: 100%;
}
.map-list {
    width: 100%;
    height: 500px;
    background: #fff;
    position: absolute;
    z-index: 1031;
    bottom: 0;
}
.map-list-item {
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scroll: touch;
    height: calc(100% - 180px);
}
.map-list-item > *:first-child {
    border-top: 0;
}
.map-sort {
    width: 160px;
}
.map-thumbs {
    width: 152px;
    height: 152px;
}

@media (min-width: 992px) {
    .map-full-area {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        height: 100%;
    }
    .map-list {
        width: 500px;
        position: relative;
        height: 100%;
    }
    .map-list-item {
        height: 700px;
    }
}