html, body {
    height: 100%;
    overflow: hidden;
}

.map-full-area {
    position: inherit;
    top: 0;
    height: calc(100% - 300px);
    width: 100%;
}
.map-list {
    width: 100%;
    height: 300px;
    background: #fff;
    position: inherit;
    z-index: 1031;
    bottom: 0;
}
.map-list-item {
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scroll: touch;
    height: calc(100% - 160px);
}
.map-list-item > *:first-child {
    border-top: 0;
}
.map-sort {
    width: 160px;
}
.map-thumbs {
    width: 120px;
    height: 80px;
}
.map-thumbs img {
    width: inherit !important;
}
.item-price-text {
    font-size: 1rem;
    text-align: right;
}
.item-type-text {
    font-size: 0.8rem;
}
.item-disc-text {
    font-size: 0.75rem;
}

@media (min-width: 992px) {
    .map-full-area {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        height: 100%;
    }
    .map-list {
        width: 500px;
        position: relative;
        height: 100%;
    }
    .map-list-item {
        height: 700px;
    }
    .map-thumbs {
        width: 152px;
        height: 152px;
    }
    .item-price-text {
        font-size: 1.4rem;
    }
    .item-type-text,
    .item-disc-text {
        font-size: inherit !important;
    }
}